:root {
	/* Shared viewport boundaries */
	--fluid-viewport-min: 20rem;
	--fluid-viewport-max: 64rem;

	--fluid-space-x-min: 0.25rem;
	--fluid-space-x-max: 1rem;
	--fluid-space-y-min: 0.125rem;
	--fluid-space-y-max: 0.75rem;

	/*
   * Exponent base for fluid text. Must be between 0 and 1, or greater than 1.
   * 0–1: logarithmic growth
   * > 1: exponential growth
   */
	--fluid-text-base: calc(e);

	--fluid-spacing-base: calc(e);

	/* Shared, unitless viewport position */
	--fluid-progress: tan(
		atan2(
			100vw -
			var(--fluid-viewport-min),
			var(--fluid-viewport-max) -
			var(--fluid-viewport-min)
		)
	);

	--fluexp-spacing-value: clamp(
		var(--fluexp-min-spacing),
		calc(
			var(--fluexp-min-spacing) +
			(var(--fluexp-max-spacing) - var(--fluexp-min-spacing)) *
			(pow(var(--fluid-spacing-base), var(--fluid-progress)) - 1) /
			(var(--fluid-spacing-base) - 1)
		),
		var(--fluexp-max-spacing)
	);
}

/**
 * Sets the exponential base for scaling text with the fluid utility.
 */
@utility fluid-text-base-* {
	--fluid-text-base: --value(number, [number]);
}

@utility fluid-spacing-base-* {
	--fluid-spacing-base: --value(number, [number]);
}

@utility fluid-space-x-min-* {
	--fluid-space-x-min: --value(length, [length]);
}

@utility fluid-space-x-max-* {
	--fluid-space-x-max: --value(length, [length]);
}

@utility fluid-space-y-min-* {
	--fluid-space-y-min: --value(length, [length]);
}

@utility fluid-space-y-max-* {
	--fluid-space-y-max: --value(length, [length]);
}

/**
 * Scale text fluidly from a lower to upper bounded size based on theme font
 * size variables or arbitrary numeric values. Scales exponentially where values
 * grow faster as the viewport gets larger. Ideal for boxed elements like
 * buttons. Requires `--fluid-text-base` custom property to be set to a value
 * between 0 and 1
 *
 * Example:
 * ```html
 * <div class="text-flex-sm/xl"></div>
 * ```
 */
@utility text-fluid-* {
	font-size: clamp(
		--value(--text-*, [length]),
		calc(
			--value(--text-*, [length]) +
			(--modifier(--text-*, [length]) - --value(--text-*, [length])) *
			(pow(var(--fluid-text-base), var(--fluid-progress)) - 1) /
			(var(--fluid-text-base) - 1)
		),
		--modifier(--text-*, [length])
	);
}

/*
 * Usage: p-fluexp, p-fluexp-2, p-fluexp-2/8
 */
@utility p-fluexp-* {
	--min-spacing: --spacing(--value(number, --default(1)));
	--max-spacing: --spacing(--modifier(number, --default(4)));

	padding: clamp(
		var(--min-spacing),
		calc(
			var(--min-spacing) +
			(var(--max-spacing) - var(--min-spacing)) *
			(pow(var(--fluid-spacing-base), var(--fluid-progress)) - 1) /
			(var(--fluid-spacing-base) - 1)
		),
		var(--max-spacing)
	);
}

/* Inline axis */
@utility px-fluexp-* {
	--min-spacing: --spacing(--value(number, --default(1)));
	--max-spacing: --spacing(--modifier(number, --default(4)));
	--value: clamp(
		var(--min-spacing),
		calc(
			var(--min-spacing) +
			(var(--max-spacing) - var(--min-spacing)) *
			(pow(var(--fluid-spacing-base), var(--fluid-progress)) - 1) /
			(var(--fluid-spacing-base) - 1)
		),
		var(--max-spacing)
	);

	padding-inline-start: var(--value);
	padding-inline-end: var(--value);
}

@utility ps-fluexp-* {
	padding-inline-start: clamp(
		var(--fluid-space-x-min),
		calc(
			var(--fluid-space-x-min) +
			(var(--fluid-space-x-max) - var(--fluid-space-x-min)) *
			(pow(--value(number, [number]), var(--fluid-progress)) - 1) /
			(--value(number, [number]) - 1)
		),
		var(--fluid-space-x-max)
	);
}

@utility pe-fluid-* {
	padding-inline-end: clamp(
		var(--fluid-space-x-min),
		calc(
			var(--fluid-space-x-min) +
			(var(--fluid-space-x-max) - var(--fluid-space-x-min)) *
			(pow(--value(number, [number]), var(--fluid-progress)) - 1) /
			(--value(number, [number]) - 1)
		),
		var(--fluid-space-x-max)
	);
}

/* Block axis */
@utility py-fluid-* {
	padding-block: clamp(
		var(--fluid-space-y-min),
		calc(
			var(--fluid-space-y-min) +
			(var(--fluid-space-y-max) - var(--fluid-space-y-min)) *
			(pow(--value(number, [number]), var(--fluid-progress)) - 1) /
			(--value(number, [number]) - 1)
		),
		var(--fluid-space-y-max)
	);
}

@utility pbs-fluid-* {
	padding-block-start: clamp(
		var(--fluid-space-y-min),
		calc(
			var(--fluid-space-y-min) +
			(var(--fluid-space-y-max) - var(--fluid-space-y-min)) *
			(pow(--value(number, [number]), var(--fluid-progress)) - 1) /
			(--value(number, [number]) - 1)
		),
		var(--fluid-space-y-max)
	);
}

@utility pbe-fluid-* {
	padding-block-end: clamp(
		var(--fluid-space-y-min),
		calc(
			var(--fluid-space-y-min) +
			(var(--fluid-space-y-max) - var(--fluid-space-y-min)) *
			(pow(--value(number, [number]), var(--fluid-progress)) - 1) /
			(--value(number, [number]) - 1)
		),
		var(--fluid-space-y-max)
	);
}
